ClinicClient/Service References/ClinicWCFService/ClinicService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Clinic.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Clinic.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1845/ClinicService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SessionTokenInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoctorId" type="xs:int" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionTokenInfo" nillable="true" type="tns:SessionTokenInfo" />
  <xs:complexType name="ArrayOfDoctorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoctorInfo" nillable="true" type="tns:DoctorInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctorInfo" nillable="true" type="tns:ArrayOfDoctorInfo" />
  <xs:complexType name="DoctorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialityTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorInfo" nillable="true" type="tns:DoctorInfo" />
</xs:schema>