ClinicClient/Service References/ClinicWCFService/ClinicService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Clinic.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Clinic.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1845/ClinicService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SessionTokenInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoctorId" type="xs:int" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionTokenInfo" nillable="true" type="tns:SessionTokenInfo" />
  <xs:complexType name="ArrayOfDoctorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoctorInfo" nillable="true" type="tns:DoctorInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctorInfo" nillable="true" type="tns:ArrayOfDoctorInfo" />
  <xs:complexType name="DoctorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressInfo" nillable="true" type="tns:AddressInfo" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="specialityInfo" nillable="true" type="tns:SpecialityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorInfo" nillable="true" type="tns:DoctorInfo" />
  <xs:complexType name="AddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apartament" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Home" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HousingBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressInfo" nillable="true" type="tns:AddressInfo" />
  <xs:complexType name="SpecialityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialityInfo" nillable="true" type="tns:SpecialityInfo" />
  <xs:complexType name="ArrayOfTicketInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketInfo" nillable="true" type="tns:TicketInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketInfo" nillable="true" type="tns:ArrayOfTicketInfo" />
  <xs:complexType name="TicketInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoctorInfo" nillable="true" type="tns:DoctorInfo" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PatientInfo" nillable="true" type="tns:PatientInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketInfo" nillable="true" type="tns:TicketInfo" />
  <xs:complexType name="PatientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressInfo" />
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientInfo" nillable="true" type="tns:PatientInfo" />
  <xs:complexType name="ArrayOfPatientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientInfo" nillable="true" type="tns:PatientInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientInfo" nillable="true" type="tns:ArrayOfPatientInfo" />
  <xs:complexType name="ArrayOfSpecialityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialityInfo" nillable="true" type="tns:SpecialityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialityInfo" nillable="true" type="tns:ArrayOfSpecialityInfo" />
</xs:schema>